* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}

body {
	font-family:Verdana, Arial, Tahoma;
	font-size:11px;
	color:#264c59;
	line-height:18px;
}
form{margin:0; padding:0;}
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px !important;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
	color:#cdcdcd;
	background-color:#cdcdcd;
	background-repeat:repeat-x
}

h1, h2, h3, h4, h5, h6{ font-weight:normal; color:#272727; font-family: 'PT Sans', sans-serif;}
h1, h2, h3{margin-bottom:20px;}
h4, h5, h6{margin-bottom:15px;}
h1 {font-size:30px; line-height:32px;}
h2 {font-size:26px; line-height:26px;}
h3 {font-size:20px; line-height:22px;}
h4 {font-size:16px; line-height:20px;}
h5 {font-size:14px; line-height:18px;}
h6 { font-size:11px; line-height:16px;}

/* links */
a, a:visited {color:#ce231b; text-decoration:none; font-weight:normal; }
a:hover{color:#ce231b; text-decoration:none;}
a img{border:none}
/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}


img.alignleft,
img.alignright,
img.aligncenter,
img.alignnone{
	margin-bottom: 10px;
}

img.imgborder {
	background-color:#e7e7e7;
	padding:4px;
}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	margin-bottom:20px;
}
body p:last-child{margin-bottom:0;}
ul {margin:10px 0 20px 0px;}
ol{margin:10px 0 20px 25px;}


blockquote {
	/*font-style:italic;*/
	margin:0px 0 20px 0px;
	padding:0px 10px 0px 60px;
	background-image:url(images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	font-style:italic;
	}


blockquote.alignleft, blockquote.alignright  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}

blockquote.alignleft{
	float:left;
	margin-left:0px;
	margin-right:20px;}


blockquote p{margin-bottom:0px;}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #e7e7e7;
	padding:15px 10px;
}

a.button { background:#ce231b; font-size:16px; line-height:30px; color:#fff; width:92px; height:31px; text-align:center; display:block; text-decoration:none;}

ul.disc li{
	list-style:none!important;
	background:url(images/dot.png) no-repeat left 7px;
	padding-left:15px;
}


p:last-child { margin-bottom:0px!important;}


ul.box_text{ margin:0px!important; padding:0px!important;  }
ul.box_text li{ border:0px!important; border-bottom:1px solid #e9e8e8!important;  padding:2px 0px!important; margin:0px!important; font-size:11px; color:#7e7e7e; list-style-type:none; text-align:right !important; clear:both; font-weight:normal;}
ul.box_text .left{float:left; font-weight:bold;}


table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #ececec;margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;color:#666;text-transform:uppercase;}
td{padding:10px;color:#888;}
tfoot td{border:0px;}
th,tr:hover{background-color:#ececec;}
table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
tr.odd td {
	background: #F2F7FC;
}
