body {
	margin:0 auto;
	padding:0;
}

.clear{clear:both; float:none!important;}

.centercolumn input[type=text],
.centercolumn textarea {
	border:solid 1px #e7e7e7;
	margin:4px 4px 8px 0px;
	padding:5px;
	color:#797979;
	vertical-align:middle;
	font-size:11px;}

/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */

.nomargin{ margin:0px!important;}
/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#top-container{ background: #f6f6f6 url(images/bg-container-top.gif) repeat-x; border-top:6px solid #ce231b;}
#content-container{ margin-top:14px;}
#bottom-container{background:url(images/bg-copyright.gif) repeat-x bottom;}
/*** END OF CONTAINER ***/

/*** CENTERCOLUMN ***/
.centercolumn{width:960px; margin:0px auto 0px auto;}
/*** END OF CENTERCOLUMN ***/

/*** HEADER ***/
#header{width:960px; height:99px; margin-bottom:44px;}

#logo{float:left}
#logo img{ margin-top:6px;}

/*** NAVIGATION ***/
#navigation { margin:0px;  position:relative; z-index:200;}
#nav{margin:0px 0px 0px 0px; padding:0px; list-style-type:none;  float:right;  position:relative; }
#nav li a.current {color:#fff; background:#ce231b; text-decoration:none}
#nav li a {font-family: 'PT Sans', sans-serif;}
#nav li li.current a {font-weight:bold !important;}
.sf-menu a:hover{ color:#fff; background:#ce231b; }
.sfHover a {color:#fff;}
.sfHover > a {color:#fff !important;}
.sfHover a:hover {color:#fff;}
.sf-menu a {
	color:#264c59; text-decoration:none!important;
}
.sf-menu li li {
	border-bottom:1px solid #e2e2e2;
}
.sf-menu ul a {
	background:#f4f4f4;
}
.sf-menu li li:last-child {
	border-bottom:1px solid #e2e2e2;
}
.sfHover, .sf-menu li ul {
	background:#ce231b;
}
.sf-menu ul a:hover {
	background:#f4f4f4;
}
.sf-menu li li {
	background:#f4f4f4;
	border-left:1px solid #e2e2e2;
	border-right:1px solid #e2e2e2;
}
.sf-menu li li:first-child {
	border-top:0px solid #e2e2e2;
}
.sf-menu li li li:first-child {
	border-top:1px solid #e2e2e2;
}


/* Drop down menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	font-size:18px;

}
.sf-menu {
	line-height:100%;
	position:absolute;
	right:0;
	bottom:0;
	float:left;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			20em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	margin:0px 5px;
}

.sf-menu li li{margin:0px 0px;}

.sf-menu a {
	display:		block;
	position:		relative;
	padding: 		41px 17px 33px 17px!important;
	text-decoration:none;
	font-weight:normal;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			5em; /* match top ul list item height */
	z-index:		99;

}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			-1px;
	margin-left:	0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;

}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			-1px;

}
.sf-menu ul li a{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:10px 15px 10px 15px!important;
	color:#264c59;
}
.sf-menu ul li a:hover{ color:#ce231b!important;}
.sf-menu li ul {
	padding:0px;
}
.sf-menu a.sf-with-ul {
	padding-right: 	0px;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			10px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
}



/* SLIDER */

#slider_container{width:960px; height:370px; background:url(images/slider-shadow.png) bottom no-repeat; position:relative; margin-bottom:40px;  }
#slideshow{ background:none; overflow:hidden; width:960px; height:360px; margin:0px auto; background-color:#f4f4f4;}
#slideshow img{ width:518px; height:360px; float:left;}
#slideshow_navigation{position:relative; z-index:160;  }
#pager {position:absolute; float:right; right:52px; top:321px;}

#pager a{
	width:9px;
	height:9px;
	background-image:url(images/nav-slide.png);
	background-repeat:no-repeat;
	background-position:0 0px;
	border:0px;
	margin-right:10px;
	cursor:pointer;
	display:inline;
	display:inline-block;
	vertical-align:top;
	font-size: 0;
	line-height: 0;
	text-align:center;
}


#pager a.activeSlide{
	width:9px;
	height:9px;
	background-image:url(images/nav-slide.png);
	background-repeat:no-repeat;
	background-position:0px -9px;
	margin-top:0px;

}

#slideshow img{ width:518px;}

/* text slider */
.farme-slide-text{ float:right; width:340px; padding:29px 51px;}
ul.slide-text{ margin:0px; padding:0px;}
ul.slide-text li{ text-align:right!important; clear:both; border-bottom:1px solid #e9e8e8; padding:9px 0px; font-size:11px;  color:#7e7e7e; list-style-type:none;}
.farme-slide-text .left{ float:left; color:#264c59;}

.frame-price{ margin-top:21px;}
.slider-button a{ background:#ce231b; font-size:16px; line-height:30px; color:#fff; width:92px; height:31px; text-align:center; float:left; text-decoration:none;font-family: 'PT Sans', sans-serif;}
.slider-price{ font-size:32px; color:#264c59; float:right;font-family: 'PT Sans', sans-serif;}

/* END SLIDER */





/*** CONTENT ***/
#maincontent{padding:0px 0px 40px 0px; clear:left;}
#content{float:left; width:620px; padding-right:40px;}
#content.full{float:none; padding:0px; width:100%;}
#sideright{float:left; width:290px;}

.blue{color:#ce231b;}
.black{ color:#264c59;}
.underline{ border-bottom:1px solid #d8d8d8; padding-bottom:5px;}

.title_featured{ margin:0px; width:960px; float:left; border-bottom:1px solid #d8d8d8; padding-bottom:5px; margin-bottom:24px;}
.title_featured h2{ float:left; margin-bottom:0px;}
.featured{ float:right; background:url(images/icon2.png) right 14px no-repeat; padding:10px 22px 0px 0px;}
a.featured:hover{ text-decoration:none;}




/*== sideright & widget ==*/

.sidebar_right{ width:300px; float:right;}
.sidebar .widget-title{font-size:26px; line-height:26px; margin-bottom:10px; border-bottom:1px solid #d8d8d8; padding-bottom:5px;}
.sidebar ul{list-style-type:none; padding:0 ; margin:0; list-style-position:outside}
.sidebar ul li{list-style-type:none; padding:0 ; margin:0; font-size:11px;}
.sidebar ul li li{background:url(images/arrow.png) no-repeat 0 6px; padding:0 0 5px 15px; }
.sidebar ul li li{display:inline-block; zoom:1; *display:inline; vertical-align:top;  width:115px; margin-right:18px;}
.sidebar ul li a, .sidebar ul li a:visited, .widget-container ul li a{color:#7e7e7e; font-size:11px; }
.sidebar ul li a:hover, .widget-container ul li a:hover{color:#9e9d9d; text-decoration:none;}

.widget-container{margin-bottom:40px !important;}

.widget-container.widget_recentpost li{ border:0px!important;  clear:both; width:300px!important; display:block!important; padding-left:0px; background-image:none; padding-bottom:18px;}
.widget-container.widget_recentpost img.alignleft{ margin-right:17px!important;}
.widget-container.widget_recentpost .date{ font-size:10px; color:#b1b1b1;}
.widget-container.widget_text ul{ margin:0px!important; padding:0px;}
.widget-container.widget_text li{ background:url(images/dot.png) no-repeat left 7px !important;	padding-left:15px; width:100%; }


.widget_search.widget_search li{ background:none; clear:both;}

#widget-flickr .alignleft{
	margin:0 8px 8px 0;
}

.bg_gray{ background:#f6f6f6; padding:20px; width:260px; margin-top:20px;}


.agent{ line-height:16px;}
.agent p{ margin-bottom:10px;}
.agent a{ color:#ce231b!important;}




.property-list{ font-size:12px!important; color:#7e7e7e;}
.property-list p{ margin-bottom:30px;}
.property-list .title{ font-size:14px; color:#ce231b; margin:0px; line-height:normal;}
.property-list .black{ font-size:12px;}
.property-list small{ font-size:11px;}

/* FOOTER */

#footer{ border-top: 3px solid #cdcdcd; padding:30px 0px 0px 0px; margin:0px 0px 0px 0px;}
#footer-left{ width:655px; float:left; border-right:1px solid #e2e2e2; padding-top:20px;}
#footer-right{ float:right; padding-top:20px;}
#footer-right h2{margin-bottom:0px;  font-size:14px; color:#264c59; }
#footer-left h2{ margin-bottom:10px; padding-bottom:3px; font-size:14px; color:#264c59; background:url(images/dot-line.gif) repeat-x bottom;}
#footer-left ul{list-style-type:none; padding:0 ; margin:0; list-style-position:outside}
#footer-left  ul li{list-style-type:none; padding:0 ; margin:0}
#footer-left  ul li li{
	border-bottom: 0px;
	padding:0 0 10px 20px;
	background-image:url(images/icon1.png);
	background-repeat:no-repeat;
	background-position:0 4px;
	}


#footer-left .one_fourth{width:19.4%; }
#footer-left .one_fourth{margin-right:3.5%; float:left; }

#newsLetter .inputbox{ border:1px solid #dddddd; padding:8px; margin-right:0px; width:250px; }
#newsLetter .button{ width:94px; padding:3px 0px; text-align:center; font-size:16px; color:#fff; background-color:#ce231b; border:0px;  cursor:pointer; margin-left:175px!important;font-family: 'PT Sans', sans-serif;}

#copyright{ height:40px; margin-top:31px; background-repeat:no-repeat; font-size:11px;  font-family:Arial, Helvetica, sans-serif; text-align:center; padding-top:20px; float:left; }



/* COLUMN LIST */
.four_column{list-style-type:none; margin:0px; padding:0px;}
.four_column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four_column p{margin-bottom:18px;}

.four_column_properties{list-style-type:none; margin:0px; padding:0px;}
.four_column_properties li{list-style-type:none; width:184px; margin:0px 21px 30px 0px; float:left; background:#f6f6f6; border:1px solid #ededed; padding:19px;}
.four_column_properties li img{ margin-bottom:15px;}
.four_column_properties p{margin-bottom:18px;}

.three_column{list-style-type:none; margin:0px; padding:0px;}
.three_column li{list-style-type:none;width:31.26%; margin-right:3.1%; float:left;}
.three_column p{margin-bottom:18px;}

.two_column{list-style-type:none; margin:0px; padding:0px;}
.two_column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two_column p{margin-bottom:10px;}

.three_four_column{list-style-type:none; margin:0px; padding:0px;}
.three_four_column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three_four_column p{margin-bottom:18px;}

.two_column li li, .three_column li li, .four_column li li, .three_four_column li li{margin:0px; width:auto !important; float:none;}
.two_column .alignleft, .three_column .alignleft, .four_column .alignleft{ margin-right:3px; margin-bottom:0}


/* COLUMN */
.one_half{ width:48%; }
.one_third{ width:31.26%; }
.one_fourth{width:22%; }
.two_third{ width:65.32%}
.three_fourth{width:74%;}
.one_half,.one_third,.one_fourth, .three_fourth, .two_third{margin-right:3.1%; float:left; }
.one_fifth{width:18.2%; margin-right:20px; float:left; }
.last{ margin-right:0 !important; clear:right; }



/* DROPCAPS */
.dropcap1{
	text-shadow:1px 1px 0 #fff;
	display:block;
	float:left;
	font-size:34px;
	line-height:34px;
	margin:2px 8px 0 0;
	color:#ce231b;
}
.dropcap2{
	background: transparent url(images/dropcaps.png) top left no-repeat;
	color:#fff;
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:4px 8px 0 0;
}
.dropcap3{
	background: #ce231b;
	color:#fff;
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:6px 8px 0 0;
}

/* HIGHLIGHT */
.highlight1{padding:1px 4px;background-color:yellow;color:#111;}
.highlight2{padding:1px 4px;background-color:#111;color:#eee;}


/* TABBLES */

#content #wrapper #image img{border-width:0px !important;}



/*

Lighthouse - CSS File

USE THIS STYLE SHEET FOR INNER PAGE

*/

#before-content{ background:url(images/bg-shadow.gif) bottom #f4f4f4 no-repeat;  display:block; padding:19px 20px 30px 20px; margin-bottom:28px;}
#before-content h2{ font-size:22px; color:#ce231b; border-bottom:1px solid #d8d8d8; padding-bottom:5px;}

#breadcrumb{padding-bottom:22px; font-size:11px; color:#818181}

/* Pagenavi */
#pagenavi{vertical-align:middle; clear:both; margin-top:0px; text-align:right; color:#ce231b;}
#pagenavi a{
	color:#ce231b;
	padding:5px 5px;
}
#pagenavi a:hover{color:#ce231b; }
#pagenavi a.current{color:#264c59;}


/*== display inline==*/
.inline{margin:0px !important; padding:0px !important; list-style-type:none !important;}
.inline li{ text-align:right !important; clear:both; width:100% !important; border:0px !important; padding:0 !important; background-image:none!important; line-height:20px;}
.inline .left{float:left;}


/* PORTFOLIO */

/*======= Portfolio 4 Column =======*/
.pf-type4{list-style-type:none; margin:0px; padding:0px;}
.pf-type4 li{margin:0px 26px 30px 0px; float:left; width:220px; list-style-type:none;}
.pf-type4 h2{margin-bottom:3px!important; font-size:14px; color:#264c59;}
.pf-type4 p{ font-size:11px;}
.pf-img-type4{width:220px; height:119px; margin-bottom:10px; background:url(images/hover-opacity4.png) no-repeat top left}
.pf-text-type4{}
.pf-text-type4 a{}
.pf-text-type4 a:hover{}


/* Property2 */
.list_properties{ background:#f6f6f6; padding:20px; color:#7e7e7e; line-height:15px; margin-bottom:30px;}
.list_img{ width:131px; float:left; padding-top:2px;}
.list_text{ width:420px; margin-left:10px; float:left;}
.title_property2{border-bottom:1px solid #d8d8d8; padding-bottom:3px; margin-bottom:20px; float:left; width:570px;}
.title_property2 h2{ font-size:14px; float:left; margin:0px;font-family: 'PT Sans', sans-serif; }
.title_property2 h2 a { font-weight: bold;font-size:14px;color: #7e7e7e; font-family: 'PT Sans', sans-serif;}
.title_property2 .star{ float:right; background:url(images/icon-star.png) no-repeat 0 7px; padding-left:18px; padding-top:5px;}

/* Property Detail */
#property-detail {margin-bottom: 40px;overflow: hidden;height: 1%;}
#property-detail ul.box_text{ margin:0px!important; padding:0px!important;  }
#property-detail ul.box_text li{ border:0px!important; border-bottom:1px solid #e9e8e8!important;  padding:4px 0px!important; margin:0px!important; font-size:11px; color:#7e7e7e; list-style-type:none; text-align:left!important; font-weight:normal; display:block; float:left; width:620px; }
#property-detail ul.box_text .left{ font-weight:bold; width:144px; float:left; }
#property-detail ul.box_text .right{ width:476px; float:right; }

#property-detail .one_half{ width:290px; margin:0px; }
#property-detail .one_half ul.box_text li{ float:none; width:auto;}
#property-detail .one_half{margin-right:40px; float:left; }



/* Contact Agen */
#contact-agent ul{ margin:0px; padding:0px;}
#contact-agent ul li{ padding:0px 14px 0px 0px; }
#contact-agent input, #contact-agent textarea{ border:1px solid #dcdcdc; background:#f6f6f6;}
#contact-agent .button{background:#ce231b; font-size:16px;  color:#fff; width:74px; padding:3px 0px; text-align:center; text-decoration:none; border:0px;}


/* Contact Information */
#contact-information{ background:#f6f6f6; padding:20px;}
#contact-information ul{ margin:0px; padding:0px;}
#contact-information ul li{ display:inline-block; zoom:1; *display:inline; vertical-align:top;  padding:0px 5px 0px 0px;}
#contact-information ul li:last-child { padding-right:0px;}
#contact-information input, #contact-information textarea{ border:1px solid #dcdcdc; background:#fff;}
#contact-information .button{background:#ce231b; font-size:16px;  color:#fff; width:167px; padding:3px 0px; text-align:center; text-decoration:none; border:0px;}


/* Property Detail slideshow  */
#slideshow_detail {list-style:none; color:#fff}
#slideshow_detail span {display:none}
#wrapper {width:620px; margin:0; display:none; }
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:620px; height:360px; padding:0px 0px 10px 0px; background:url(images/slider-shadow2.png) bottom no-repeat;}
#information {position:absolute; bottom:0; width:620px; height:0; background:url(images/slider-detail/opacity.png) repeat;  color:#fff; overflow:hidden; z-index:200; display:none; }
#information h3 {padding:4px 8px 3px; font-size:14px; display:none;}
#information p {padding:0 8px 8px;}
#image {width:620px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:50}
/*#imgprev {left:0; background:url(images/slider-detail/left.gif) left center no-repeat}
#imgnext {right:0; background:url(images/slider-detail/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; background-image:url(images/slider-detail/opacity.png); background-repeat:repeat;}*/
.linkhover {background:url(images/slider-detail/link.gif) center center no-repeat}
#thumbnails {margin-top:30px; padding:18px 10px 0px 10px; background-image:url(images/slider-detail/opacity2.png); background-repeat:repeat; float:left; width:600px;  }
#slideleft {float:left; width:12px; height:14px; background:url(images/slider-detail/scroll-left.png) center center no-repeat; margin-top:10px; cursor:pointer;}
#slideright {float:left; width:12px; height:14px; background:url(images/slider-detail/scroll-right.png) center center no-repeat; margin-top:10px; cursor:pointer;}
#slidearea {float:left; position:relative; width:570px; margin:0px 0px 0px 0px;  height:53px; overflow:hidden;}
#slider {position:absolute; left:0; height:53px}
#slider img {cursor:pointer; border:1px solid #fff; padding:0px 0px; margin:0px 8px 0px 8px!important; width:45px; height:33px;}





/* BLOG */
.post{margin-bottom:27px;}
.posttitle{ font-size:16px; margin:0px; padding:0px; line-height:18px;}
.entry-utility{font-size:10px; color:#b1b1b1; margin-bottom:5px;}
.entry{padding:0px 0 0 0;}


/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0 auto; position:relative}

label.sp { width:3px;}
span.error{color:red;text-align:left; font-size:9px; float:left;}
#contactform .text-input{
	background-color:#fff;
	border:solid 1px #dadada;
	margin-bottom:5px;
	width:248px;
	padding:6px 5px;
	color:#797979;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

#contactform textarea{
	background-color:#fff;
	border:solid 1px #dadada;
	margin-bottom:7px;
	padding:6px 5px;
	height:168px;
	width:248px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

#contactform #submit_btn{
background:#ce231b; font-size:16px;  color:#fff; width:74px; padding:3px 0px; text-align:center; text-decoration:none; border:0px; float:right; margin-right:3px;
}
#message{ margin-left:0px;}
#message h2	{}
#message p{margin:6px 0px; }
#map iframe{border:solid 1px #e0e0e0; margin-top:20px;}
.button{ cursor:pointer;}

.catalog-sections {
overflow: hidden;
height: 1%;
}

.catalog-sections ul li {
display: block !important;
width: 100% !important;
margin-right: 0 !important;
}

.catalog-sections .col > ul > li {
padding-left: 0 !important;
background: none !important;
color: #000 !important;
width: 115px !important;
}

.catalog-sections .col > ul > li > a {
color: #000!important;
}

.catalog-sections .col > ul > li > a:hover {
color: #7e7e7e!important;
}

.catalog-sections ul ul {
padding-top: 5px !important;
}

.catalog-sections .col {
width: 130px;
float: left;
margin-right: 15px;
}

.catalog-sections ul li a.active {
font-weight: bold !important;
color: #000!important;
}

.sidebar .bg_gray {
margin:0 0 25px 0;
padding: 12px;
}

.sidebar .bg_gray input {
margin:0;
}

.sidebar .bg_gray .button {
background:#ce231b;
font-size:16px;color:#fff;width:74px; padding:3px 0px; text-align:center; text-decoration:none; border:0px;
display: inline-block;
vertical-align: middle;
}
