body {
	color: #333;
	background: #fff;
	font-size: 12px;
	padding-bottom: 35px;
}
a {
	color: #237dac;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
table {
	color: #333;
	margin-bottom: 0;
}
table td,
table th {
	padding: 0.5em 0.5em;
}
table th {
	font-weight: bold;
}
table th a {
	color: #fff;
	font-weight: normal;
}
table td {
	border-right: #f5f5f5;
}
table td div {
	white-space: nowrap;
	height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sticky-wrap.overflow-y {
	max-height: none;
	overflow: auto;
	position: absolute;
	margin: 0;
	width: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 65px;
}
.sticky-intersect {
	display: none;
}
.sticky-col thead th {
	background-color: #2ea879;
}
.editable-container {
	margin-top: -19px !important;
	margin-left: -9px !important;
	padding: 9px !important;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	z-index: 9999;
}
.editable-buttons button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.editable-buttons button:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.editable-buttons button:hover,
.editable-buttons button:focus {
	color: #333333;
	text-decoration: none;
}
.editable-buttons button.editable-submit:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.editable-buttons button.editable-submit {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}
.editable-buttons button.editable-submit:hover,
.editable-buttons button.editable-submit:focus,
.editable-buttons button.editable-submit:active {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}
.editable-buttons button.editable-submit:active {
	background-image: none;
}
.editable-buttons button.editable-cancel {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.editable-buttons button.editable-cancel:hover,
.editable-buttons button.editable-cancel:focus,
.editable-buttons button.editable-cancel:active {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.editable-buttons button.editable-cancel:active {
	background-image: none;
}
.editable-input input:-moz-placeholder {
	color: #999999;
}
.editable-input input::-moz-placeholder {
	color: #999999;
}
.editable-input input:-ms-input-placeholder {
	color: #999999;
}
.editable-input input::-webkit-input-placeholder {
	color: #999999;
}
.editable-input input {
	display: block;
	font-size: 14px;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	height: 22px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.editable-input input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.editable-input textarea:-moz-placeholder {
	color: #999999;
}
.editable-input textarea::-moz-placeholder {
	color: #999999;
}
.editable-input textarea:-ms-input-placeholder {
	color: #999999;
}
.editable-input textarea::-webkit-input-placeholder {
	color: #999999;
}
.editable-input textarea {
	width: 200px;
	display: block;
	font-size: 14px;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	height: 100px;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1;
	border-radius: 3px;
}
.editable-input textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.editable-click {
	border-bottom: none;
}
.editable-open {
	border-bottom: solid 1px #0088cc;
}
.editable-empty,
.editable-empty:hover {
	color: #333;
	font-style: normal;
}
.item-delete {
	color: #f00;
	opacity: 0.5;
}
.item-delete:hover {
	opacity: 1;
}
.item-checked,
.item-enable,
.item-sold {
	display: inline-block;
}
.item-checked,
.item-enable,
.item-sold {
	opacity: 0.5;
}
.item-checked.active,
.item-enable.active,
.item-sold.active {
	opacity: 1;
}
.item-sold,
.item-checked,
.item-enable {
	margin-right: 5px;
}
.line-disable td {
	opacity: 0.1;
}
.line-delete td,
.line-delete th {
	opacity: 0.1 !important;
}
.line-url,
.line-address,
.line-address_edit,
.line-district,
.line-price,
.line-price_edit,
.line-square,
.line-square_edit,
.line-rooms,
.line-floor,
.line-floor_edit {
	white-space: nowrap;
}
table tbody tr.today {
	background-color: #FFF2F2;
}
table tbody tr.today:nth-child(2n-1) {
	background-color: #FFE8E8;
}
table tbody tr.today:hover {
	background-color: #FFD3D3;
}
.line-source-highlight {
	background-color: #FFCA91;
}
table tbody tr:nth-child(2n-1) .line-source-highlight {
	background-color: #FABE7F;
}
table tbody tr:hover .line-source-highlight {
	background-color: #F7B065;
}
.footer {
	position: fixed;
	bottom: 0;
	height: 35px;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #2ea879;
}
.pagination {
	margin: 5px 0 0 5px;
	float: left;
}
.pagination ul,
.pagination li,
.pagination a,
.pagination span {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	background: none;
	display: inline-block;
	text-decoration: none;
}
.pagination li {
	margin-right: 3px;
}
.pagination span,
.pagination a {
	padding: 5px 8px;
	border-radius: 5px;
	color: #fff;
}
.pagination span.current,
.pagination a:hover {
	background: #fff;
	color: #2ea879;
}
.controls {
	float: right;
	margin: 5px 5px 0 0;
	overflow: hidden;
}
.switcher {
	float: right;
}
.switcher ul,
.switcher li,
.switcher a,
.switcher span {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	background: none;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
}
.switcher li {
	margin-left: 3px;
}
.switcher a {
	padding: 5px 8px;
	border-radius: 5px;
	color: #fff;
}
.switcher li.active a,
.switcher a:hover {
	background: #fff;
	color: #2ea879;
}
.show-source {
	float: left;
	margin-right: 20px;
}
.show-source ul,
.show-source li,
.show-source a {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	background: none;
	display: inline-block;
	text-decoration: none;
}
.show-source a {
	padding: 5px 8px;
	border-radius: 5px;
	color: #fff;
}
.show-source li.active a,
.show-source a:hover {
	background: #fff;
	color: #2ea879;
}
.line-source-th,
.line-source-highlight {
	display: none;
}
.line-source-th.active,
.line-source-highlight.active {
	display: table-cell;
}
.js-btn,
.js-browse,
.js-upload {
	display: inline-block;
}
.js-btn {
	position: relative;
	overflow: hidden;
}
.js-btn input {
	top: -10px;
	right: -40px;
	z-index: 2;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 50px;
	cursor: pointer;
}

.line-address div {
	width: 30px;
}
.line-address_hash div {
	width: 30px;
}
.line-price div {
	width: 30px;
}
.line-square div {
	width: 30px;
}
.line-floor div {
	width: 30px;
}
.line-address_edit div {
	width: 200px;
}
.line-district div {
	width: 100px;
}
.line-price_edit div {
	width: 100px;
}
.line-square_edit div {
	width: 50px;
}
.line-rooms div {
	width: 80px;
}
.line-floor_edit div {
	width: 50px;
}
.line-type_house div {
	width: 100px;
}
.line-series div {
	width: 100px;
}
.line-phone div {
	width: 100px;
}
.line-other div {
	width: 100px;
}
.line-details div {
	width: 100px;
}
.line-square_rooms div {
	width: 100px;
}
.line-price_m div {
	width: 80px;
}
.line-kitchen div {
	width: 100px;
}
.line-land_area div {
	width: 100px;
}
.line-price_acre div {
	width: 100px;
}
.line-individual div {
	width: 100px;
}
.line-type div {
	width: 100px;
}
.line-type_lodging div {
	width: 100px;
}
.line-organization_developer div {
	width: 100px;
}
.line-date_emplacement div {
	width: 100px;
}
.line-date_construction_end div {
	width: 100px;
}
.line-name div {
	width: 100px;
}
.line-agency div {
	width: 100px;
}
.line-exclusivity div {
	width: 50px;
}
.line-source div {
	width: 100px;
}
.line-balcony div {
	width: 100px;
}
.line-straight div {
	width: 100px;
}
.line-childs div {
	width: 100px;
}
.line-price_other div {
	width: 100px;
}
.line-year_built div {
	width: 100px;
}
.line-wear div {
	width: 100px;
}
.line-yk div {
	width: 100px;
}
.line-heating div {
	width: 100px;
}
.line-overhaul div {
	width: 100px;
}
.line-replan div {
	width: 100px;
}